{% extends 'front/base_front.html.twig' %}

{% block title %}
	Conditions Générales de Vente | Oriflam Medias
{% endblock %}

{% block body %}
	<div class="container cgv">
		<div class="row">
			<div class="col-12">
				<h1>Conditions générales de vente</h1>
				<p>
					La Politique de Protection des Données est destinée à vous informer de la politique menée par ORIFLAM MEDIAS  en matière de protection des données à caractère personnel et des droits relatifs à la protection des données à caractère personnel dont vous disposez.
					<br>
					<br>
					En utilisant nos Services, Sites et/ou Applications, vous déclarez accepter les termes de la présente Politique de Protection des Données. Si vous êtes en désaccord avec l’un de ses termes, vous êtes libres de ne plus utiliser nos Services, Sites et/ou Applications.
					<br>
					<br>
					Outre la présente Politique de confidentialité et protection des données personnelles, l’utilisation du site www.ORIFLAM MEDIAS .ORG nécessite l’acceptation des CGV.
					<br>
					<br>
					<span class="font-weight-bold">
						Version du 17/09/2020
					</span>
					<br><br>
					En tant que responsable de traitement de vos données personnelles, ORIFLAM MEDIAS  lmet tout en œuvre pour protéger au mieux votre vie privée lors de vos visites sur notre site internet (ci­-après dénommé « la plateforme »).
					<br>
					<br>
					Cette rubrique est consacrée à notre Politique de confidentialité et de protection des données personnelles. Elle vous permet d’en savoir plus sur l’origine et l’usage des informations de navigation traitées à l’occasion de votre consultation de notre plateforme et sur vos droits.
					<br><br>
					Dans le cadre de cette Politique, l’expression « donnée(s) personnelle(s) » désigne les données qui se rapportent à vous seul(e) à un instant donné, indépendamment du terminal que vous utilisez.
					<br><br>
					« Terminal(aux) » désigne l’équipement matériel (ordinateur, tablette, Smartphone, téléphone, etc.) que vous utilisez pour consulter ou voir s’afficher notre plateforme.
					<br><br>
					En utilisant notre plateforme, vous déclarez accepter les termes de la présente Politique. Si vous êtes en désaccord avec l’un de ses termes, vous êtes libre de ne plus utiliser notre plateforme. Nous pouvons modifier librement la présente Politique de confidentialité. Toute modification prendra effet immédiatement. Par conséquent, nous vous invitons à vous y référer lors de chaque visite afin de prendre connaissance de sa dernière version disponible en permanence sur la plateforme.
					<br><br>
				</p>
				<h2>I. Protection de vos données personnelles</h2>
				<p>
					Conformément à la loi française « Informatique et libertés » n° 78­17 du 6 janvier 1978 modifiée en 2004, ORIFLAM MEDIAS  a déclaré la collecte et le traitement de vos données personnelles auprès de la CNIL sous le numéro 1990588 v 0.
					<br><br>
					Toutes les informations que vous avez pu fournir à ORIFLAM MEDIAS  lors de vos visites sur notre plateforme sont strictement confidentielles. Ces informations sont nécessaires à la finalité de leurs traitements telle que la gestion de vos commandes ainsi que les relations commerciales que nous entretenons avec vous.
				</p>
				<h3>I.1. Comment collectons-nous vos Données Personnelles ?</h3>
				<p>
					Nous collectons et traitons vos données personnelles grâce à votre consentement, pour exécuter le contrat conclu avec vous (acceptation des Conditions Générales d’Utilisation de nos Services), et sur la base de notre intérêt légitime.
					<br><br>
					Lors de la création d’un compte utilisateur ou de la souscription de certains services accessibles sur nos Sites et/ou Applications (tels qu’un jeu-concours, une inscription à une newsletter, etc.), vous êtes informé de la collecte et du traitement des Données Personnelles vous concernant grâce à une mention d’information.
					<br><br>
					De plus, vous consentez à la collecte et au traitement de vos Données Personnelles, selon les modalités précisées ci-après, grâce à l’acceptation de la présente Politique de Protection des Données, accessible sur le formulaire de collecte de vos Données Personnelles.
				</p>
				<h3>I.2. Quelles informations sont collectées ?</h3>
				<p>
					Parmi les Données Personnelles collectées directement auprès de vous, lors de l’inscription, nous pouvons collecter les données suivantes :
					<ul>
						<li>Nom, prénom, sexe, adresse email, code postal, adresse postale, numéros de téléhone fixe et/ou portable ;</li>
						<li>Nom(s) d’utilisateur, pseudonyme(s) et mot(s) de passe ;</li>
						<li>Intérêts et préférences en matière de prospection commerciale ;</li>
					</ul>
					Les données que nous collectons peuvent inclure vos données dites personnelles, en ce qu’elles permettent de vous identifier comme une personne particulière. À l’inverse, certaines données ne nous permettent pas de vous identifier, telles que vos données de navigation (le type de navigateur, de terminal et de système d’exploitation, le chemin suivi sur la plateforme, …). Certaines informations sont obligatoires et d’autres facultatives comme indiqué dans le formulaire de collecte.
				</p>
				<h3>I.3. À quelles fins vos données sont-­elles utilisées ?</h3>
				<p>Les données seront utilisées par nos services internes pour le traitement de vos commandes, pour lutter contre la fraude, pour renforcer et personnaliser la communication notamment par les lettres/courriers électroniques d’information ainsi que dans le cadre de la personnalisation de la plateforme en fonction de vos préférences constatées, mais également dans le but de mieux comprendre votre utilisation de notre plateforme et ainsi modifier notre plateforme en fonction de vos besoins. ORIFLAM MEDIAS  vous informe qu’elle pourra communiquer vos données pour assurer l’accomplissement des commandes par ses fournisseurs et certains aspects du service après-­vente, ainsi que pour réaliser des enquêtes de satisfaction.</p>
				<h3>I.4. Quelles informations partageons-­nous avec des tiers ?</h3>
				<p>
					Nous nous engageons à ne pas divulguer à des tiers les informations que vous nous communiquez. Les informations que vous nous fournissez sont exclusivement utilisées par nos services internes et ne seront en aucun cas cédées ou vendues à des tiers sans votre accord préalable. Ainsi, ORIFLAM MEDIAS  ne transmettra jamais vos données personnelles à aucun tiers susceptible de les utiliser à des fins de publicité directe, excepté si vous y avez expressément consenti préalablement.
					<br><br>
					ORIFLAM MEDIAS   pourra être amenée à transférer de manière sécurisée à des tiers, certaines données, notamment personnelles, pour assurer l’accomplissement de tâches nécessaires à l’exécution de votre commande, pour assurer la livraison de biens et la réalisation de prestations, pour lutter contre la fraude et plus généralement toute activité pénalement répréhensible, pour certains aspects du service après-­vente, et pour réaliser des enquêtes de satisfaction. De plus, ORIFLAM MEDIAS  pourra communiquer ces données pour répondre à une injonction des autorités légales.
				</p>
				<h3>I.5. Durant combien de temps vos Données Personnelles sont-elles conservées ?</h3>
				<p>
					I.5.1 . A l’exception des catégories de Données Personnelles visées aux articles I.5.2. à I.5.4, vos Données Personnelles sont conservées pour les durées suivantes :
					<ul>
						<li>Un (1) an après la clôture de votre Compte Utilisateur ou de la fin de la relation contractuelle le cas échéant ;</li>
						<li>Deux (2) ans après votre dernière utilisation de nos Services, Sites et/ou Applications, si vous n’avez pas fermé votre Compte Utilisateur (compte inactif) ;</li>
					</ul>
					I.5.2. Les données relatives aux cartes de paiement sont conservées le temps de la réalisation de la transaction, puis sont archivées treize (13) mois à compter de la date du débit ou quinze (15) mois pour les cartes de paiement à débit différés, à des fins de preuve, en cas de contestation de la transaction.
					<br><br>
					I.5.3. Les cookies déposés sur votre terminal sont conservés pendant treize (13) mois à compter du premier dépôt sur le terminal. Pour en savoir plus concernant la gestion des cookies, nous vous invitons à vous référer à notre politique cookies.
					<br><br>
					I.5.4. Les données de navigation sont conservées pour une durée de treize (13) mois à compter de la collecte.
				</p>
				<h3>I.6. Lutte contre la fraude</h3>
				<p>
					ORIFLAM MEDIAS est convaincue de la nécessité de prendre des mesures de lutte contre la fraude mettant en danger les consommateurs et leur appréhension du commerce en ligne.
					<br><br>
					Afin d’assurer la sécurité des paiements lors des transactions sur sa plateforme, d’éviter les fraudes et ainsi de protéger les consommateurs dans le cadre de la vente à distance, ORIFLAM MEDIAS  peut être amenée à procéder à un traitement automatisé dont la finalité est de contrôler, ou faire contrôler par ses sous-­traitants, les commandes passées sur sa plateforme et à vérifier la régularité des informations qui lui sont transmises à cette occasion. Cette vérification implique un traitement de certaines données, notamment à caractère personnel, recueillies à travers les plateformes de ORIFLAM MEDIAS  .
					<br><br>
					Dès lors, si une commande ne présente pas toutes les garanties nécessaires pour assurer un paiement conforme et sécurisé, ORIFLAM MEDIAS  se réserve le droit d’annuler la commande.ORIFLAM MEDIAS  , peut si elle l’estime nécessaire, vous demander des informations et documents complémentaires afin de finaliser la commande.
					<br>
					En cas de non-régularisation de la commande dans le délai imparti,ORIFLAM MEDIAS  peut être contrainte d’annuler la commande, de bloquer l’accès de votre compte   et de procéder à l’inscription de certaines de vos données personnelles dans un fichier « incidents de paiement ». Si tel devait être le cas, les clients concernés seraient informés individuellement par un courrier électronique lorsque surviendrait l’incident entraînant leur inscription sur la liste d’incidents. Ce courrier électronique leur précisera notamment les raisons et conséquences de cette inscription et les modalités d’exercice des droits d’accès, de rectification, et radiation. Dès qu’une régularisation de la part du client sera parvenue auprès du Service relations clients ORIFLAM MEDIAS  , ses données seront supprimées de ce fichier et son compte client réactivé.
				</p>
				<h3>I.7. Hébergement de vos données personnelles</h3>
				<p>
					Internet est un réseau mondial. En conséquence, avant même d’arriver sur nos serveurs en France, les données provenant de votre terminal ont déjà transitée depuis des serveurs localisés dans le monde entier et ce, indépendamment de toute action de ORIFLAM MEDIAS .
					<br><br>
					Vos données ne sont stockées que sur des serveurs sécurisés situés en France. Afin d’opérer certains services et fonctionnalités sur la plateforme, il se peut que  soit amenée à faire transiter les données à travers des serveurs pouvant être situés dans le monde entier et/ou héberger les données dans des pays qui ont des lois assurant un niveau de protection des données soit adéquat avec les dispositions légales françaises et européennes, soit différent. En tout état de cause,ORIFLAM MEDIAS   prendra alors naturellement des mesures appropriées pour maintenir la sécurité des informations personnelles pendant le transfert et à la réception de ces informations. Les sous-­traitants et prestataires seront liés par contrat avec ORIFLAM MEDIAS  , contrat qui intègrera les clauses contractuelles types (telles que publiées par la Commission européenne) et assurera notamment un haut niveau de confidentialité de protection des données. ORIFLAM MEDIAS  exige notamment de tous ses sous-­traitants et prestataires qu’ils mettent en œuvre toute mesure technique nécessaire, de façon continue, pour garder les données personnelles sécurisées et assurera le même niveau élevé de protection des données personnelles que celui exigé en France.
				</p>
				<h3>I.8. Quels sont vos droits ?</h3>
				<p>
					Conformément à la loi « Informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès, d’opposition, de rectification et de suppression des informations vous concernant. Pour cela, vous pouvez choisir d’adresser votre demande (en indiquant adresse électronique, nom, prénom, adresse postale et une copie de votre carte d’identité) :
					<br>
					- par courrier électronique en vous adressant à contact@editions-labakh.fr,
					<br>
					- en vous rendant sur la plateforme, dans la rubrique « Service client » de votre compte utilisateur,
					<br>
					- par courrier postal à l’adresse suivante :
				</p>
				<p class="font-weight-bold">
					EDITIONS LeBAKH
					<br>
					Service client
					<br>
					20 Rue Flandres Dunkerque
					<br>
					45160 OLIVET
					<br>
				</p>
				<p>
					En cas de demande de suppression de vos données, nous pourrons toutefois les conserver dans nos archives et ce pour la durée nécessaire à satisfaire à nos obligations légales, comptables et fiscales et, notamment, afin de prévenir d’éventuels comportements illicites après la suppression de votre compte (réutilisation de votre ancien compte par un tiers).
					<br><br>
					Vous pouvez également choisir de vous désinscrire, de façon définitive ou temporaire, de la lettre d’information en vous rendant dans la rubrique « Informations du compte » de votre compte utilisateur.
				</p>
				<h3>II. Transfert ultérieur de données à caractère personnel</h3>
				<p>
					Le transfert de vos données n’a lieu que dans la mesure où celui-ci est nécessaire à l’accomplissement des missions. Parmi celles-ci figurent en particulier le traitement des commandes, l’ouverture d’un compte client, la préparation des offres, ou l’exécution des services commandés (par ex. newsletter, rappel). Dans le cadre de cette exécution, vos données seront transférées au prestataire de service mandaté par nos soins dans la mesure nécessaire à cet égard. La transmission ultérieure des données pour l’exécution de la prestation de service désignée se fait sur la base du RGPD. Dans ce cadre, les mesures d’ordre technique et organisationnel, entre autres, (RGPD) seront vérifiées par le prestataire de services et consignées par écrit.
					<br><br>
					Celles-ci incluent principalement les sociétés de livraison, les instituts de crédit, et les fournisseurs. Pour se mettre d’accord sur une date de livraison, outre l’adresse et le numéro de téléphone, l’adresse électronique peut être transférée au prestataire de services chargé de l’expédition. Il n’y a pas de transfert à d’autres tiers pour des fins de commercialisation d’autres sociétés. La réalisation d’offres partenaires que vous trouvez sur notre site Internet s’effectue directement par l’intermédiaire de ce partenaire.
				</p>
				<h2>III. Sécurité de la navigation sur Internet</h2>
				<h3>III.1. Intégrité de vos données sur Internet</h3>
				<p>
					Nous mettons en œuvre des moyens performants pour que vos informations soient en sécurité. C’est pourquoi nous utilisons des mesures de contrôle à la fois techniques, physiques et procédurales qui sont mises en œuvre lors de la collecte, le traitement et le transfert de vos données.
					<br>
					La sécurité de la plateforme constitue un travail de tous les jours d’équipes dédiées. Afin d’apporter à nos utilisateurs la sécurité nécessaire tout en conservant le confort habituel de navigation, plusieurs dispositifs sont en place aujourd’hui.
				</p>
				<h3>III.2. Usages malveillants</h3>
				<p>
					Néanmoins, vous devez protéger le mot de passe de votre compte et ne le communiquer à personne. Vous devez également être prudent et faire preuve de discernement quand vous utilisez un de nos espaces communautaires, tel que les réseaux sociaux : aucun salarié de la ORIFLAM MEDIAS  ne vous demandera votre mot de passe. Nous vous recommandons également de ne divulguer en aucun cas des informations capables de vous identifier ou d’identifier un tiers. Si vous le faites, notre responsabilité ne pourra être recherchée. Par ailleurs,ORIFLAM MEDIAS   vous demande de nous contacter immédiatement si vous découvrez une utilisation non autorisée ou suspecte de vos données en lien avec la ORIFLAM MEDIAS  en nous écrivant à l’adresse électronique
					<a href="mailto:contact@imprimerie-europeenne.com">contact@imprimerie-europeenne.com</a>.
					<br>
					Les liens de connexion au site de ORIFLAM MEDIAS  envoyés dans nos courriers électroniques sont des informations à votre unique attention et sont dites confidentielles. Sachez que votre mot de passe est crypté par une méthode utilisant un algorithme de hachage fort et irréversible. Par conséquent, nous n’avons aucun accès à votre mot de passe et, en cas d’oubli ou de perte, vous êtes invité à le réinitialiser grâce à la fonction « Mot de passe oublié » proposée dans le module de connexion.
					<br>
					Les courriers électroniques reçus de ORIFLAM MEDIAS  , les liens et mots de passe ne doivent jamais être transmis à d’autres personnes pour éviter tout risque d’usurpation d’identité.
					<br>
					Indépendamment de ORIFLAM MEDIAS  à qui vous avez volontairement transmis vos données et notamment votre adresse électronique, et compte tenu de la nature du réseau Internet, d’autres opérateurs, sans aucun lien avec ORIFLAM MEDIAS , sont capables de capter celles­-ci sans votre consentement, notamment lors de votre navigation sur internet. En conséquence, nous vous recommandons d’installer sur votre ordinateur des anti­virus et « anti­spyware » et de les mettre à jour régulièrement.
					<br>
					En effet, bien que les infrastructures de ORIFLAM MEDIAS  soient protégées de logiciels malveillants dits « malware » (virus, trojans, vers, spyware…), la sécurité de votre terminal et de votre réseau reste de votre responsabilité. Nous vous recommandons d’avoir un antivirus à jour sur votre ordinateur, de ne pas laisser n’importe qui accéder à votre réseau domestique filaire ou Wifi et de bien vérifier que vos communications avec internet sont légitimes. Vous pouvez également installer un pare-­feu sur votre ordinateur.
				</p>
				<h3>III.3. Usurpation - Hameçonnage - Phishing</h3>
				<p>
					Parce que ORIFLAM MEDIAS   vous garantit une navigation parfaitement sécurisée, votre identifiant ainsi que votre mot de passe ne vous seront jamais demandés.ORIFLAM MEDIAS  ne vous sollicitera jamais par courrier électronique pour obtenir des informations personnelles ou financières. Vous ne devez communiquer les informations relatives à votre compte qu’après vous être connecté au site
					<a href="http://www.imprimerie-europeenne.com">http://www.imprimerie-europeenne.com</a>
					directement via votre navigateur.
																																																																																																																																																																																																													Si vous recevez un courrier électronique de ORIFLAM MEDIAS  qui vous semble frauduleux, prévenez-­nous en le transférant à l’adresse :
					<a href="mailto:contact@imprimerie-europeenne.com">contact@imprimerie-europeenne.com</a>. Sachez que nous travaillons avec les autorités compétentes pour appréhender et poursuivre en justice les fraudeurs et les usurpateurs d’identité.
																																																																																																																																																																																																																																																						Si vous soupçonnez que votre compte sur ORIFLAM MEDIAS  a été usurpé, contactez au plus vite notre Service relations clients, du lundi au vendredi de 9 h à 18 h au 0238237762
																																																																																																																																																																																																																																																						En cas de fraude de votre carte de paiement, merci de vous rapprocher de votre banque.
				</p>
				<h2>IV. Sécurité des paiements en ligne</h2>
				<p>
					La plateforme fait l’objet de systèmes de sécurisation parmi les plus performants à l’heure actuelle. ORIFLAM MEDIAS  met en place le procédé de cryptage SSL (Secure Socket Layer) et renforce aussi souvent que nécessaire l’ensemble des procédés de brouillage et de cryptage afin de protéger le plus efficacement possible toutes les données sensibles liées aux moyens de paiement.
					<br><br>
					Pour que la sécurité des transactions soit assurée, ORIFLAM MEDIAS  a fait appel au système Payline, développé par la société Monext.
					<br>
					Lors du choix de mode de paiement par carte bancaire (carte bleue, carte Visa, Mastercard), un processus d’identification unique est mis en place avant d’accéder au paiement en ligne. Vos coordonnées bancaires sont ensuite prises en charge par le module de paiement, qui les chiffre et les transmet de manière cryptées grâce au procédé de cryptage des données sensibles AES 256. Les autorisations et données sont alors vérifiées auprès de votre banque afin d’éviter les abus et les fraudes. Un procédé antiphishing certifié normes PCI DSS est également activé.
				</p>
				<h2>V. Cookies et témoins de connexion</h2>
				<p>
					Un « cookie » est un témoin de connexion qui désigne un fichier texte susceptible d’être enregistré, sous réserve de vos choix, dans un espace dédié du disque dur de votre terminal, à l’occasion de la consultation d’un service en ligne. Un tel fichier permet à son émetteur d’identifier le terminal sur lequel il est enregistré, pendant la durée de validité ou d’enregistrement du Cookie.
					<br><br>
					Lors de la consultation de notre plateforme, des informations relatives à la navigation de votre terminal (ordinateur, tablette, smartphone, etc.) sont donc susceptibles d’être enregistrées dans ces fichiers Cookies.
				</p>
				<h3>V.1. À quoi servent les cookies émis sur notre plateforme ?</h3>
				<p>
					Seul l’émetteur d’un cookie est en mesure de lire ou de modifier les informations qui y sont contenues.
					<br><br>
					Les Cookies que nous émettons sont utilisés aux fins décrites ci­-dessous, sous réserve de vos choix, lesquels résultent des paramètres du logiciel de navigation utilisé lors de votre visite sur notre plateforme.
					<br><br>
					Les Cookies que nous émettons nous permettent :
					<br>
					- d’établir des statistiques et volumes de fréquentation et d’utilisation des divers éléments constitutifs de notre plateformes (rubriques et contenus visités, parcours), et nous permettant d’améliorer l’intérêt et l’ergonomie de nos services ;
					<br>
					- d’adapter la présentation de notre plateforme aux préférences d’affichage de votre terminal (résolution d’affichage, système d’exploitation utilisé, etc.) lors de vos visites sur notre plateforme, selon les matériels et logiciels de visualisation ou de lecture de votre terminal ;
					<br>
					- de mémoriser des informations relatives aux formulaires remplis sur notre plateforme (inscription ou accès à votre compte) ou à des produits, services ou informations que vous avez choisis sur notre plateforme (service souscrit, contenu d’un panier de commande, etc.) ;
					<br>
					- de vous permettre d’accéder à des espaces réservés et personnels de notre plateforme, tels que votre compte, grâce à des identifiants ou des données que vous nous avez éventuellement confiés ;
					<br>
					- de mettre en œuvre des mesures de sécurité, par exemple lorsqu’il vous est demandé de vous connecter à nouveau à un contenu ou à un service après un certain laps de temps.
				</p>
				<h3>V.2. Vos choix concernant les cookies</h3>
				<p>
					Plusieurs possibilités vous sont offertes pour gérer les cookies. Tout paramétrage que vous pourrez entreprendre sera susceptible de modifier votre navigation sur Internet et vos conditions d’accès à certains services de la plateforme nécessitant l’utilisation de cookies.
					<br>
					Vous pouvez faire le choix à tout moment de modifier vos souhaits en matière de cookies par les moyens décrits ci­-après.
					<br>
					Vous pouvez configurer votre logiciel de navigation de manière à ce que des cookies soient enregistrés dans votre terminal ou, au contraire, qu’ils soient rejetés, soit systématiquement, soit selon leur émetteur. Vous pouvez également configurer votre logiciel de navigation de manière à ce que l’acceptation ou le refus des cookies vous soient proposés ponctuellement, avant qu’un cookie soit susceptible d’être enregistré sur votre terminal. Pour plus d’informations, consultez la rubrique Paramétrer l’installation des cookies selon le navigateur.
					<br>
				</p>
				<h4>L’accord sur les cookies</h4>
				<p>
					L’enregistrement d’un cookie dans un terminal est essentiellement subordonné à la volonté de l’utilisateur du terminal, que celui­-ci peut modifier à tout moment et gratuitement via les paramètres de son logiciel de navigation.
					<br>
					Si vous avez accepté, dans votre logiciel de navigation, l’enregistrement de cookies dans votre terminal, les cookies intégrés dans les pages et contenus que vous avez consultés pourront être stockés temporairement dans un espace dédié de votre terminal. Ils y seront lisibles uniquement par leur émetteur.
				</p>
				<h4>Le refus des cookies</h4>
				<p>
					Si vous refusez l’enregistrement de cookies dans votre terminal, ou si vous supprimez ceux qui y sont enregistrés, vous pourrez ne plus bénéficier d’un certain nombre de fonctionnalités qui sont néanmoins nécessaires pour naviguer dans certains espaces de notre plateforme. Tel serait le cas si vous tentiez d’accéder à nos contenus ou services qui nécessitent de vous identifier. Tel serait également le cas lorsque nous ne pourrions pas reconnaître, à des fins de compatibilité technique, le type de navigateur utilisé par votre terminal, ses paramètres de langue et d’affichage ou le pays depuis lequel votre terminal semble connecté à internet.
					<br>
					Le cas échéant, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos services résultant de l’impossibilité pour nous d’enregistrer ou de consulter les cookies nécessaires à leur fonctionnement et que vous auriez refusés ou supprimés.
					<br>
					<br><br>
					Paramétrer l’installation des cookies selon le navigateur
					<br>
					Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d’aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies. Cliquez sur le nom de votre navigateur pour accéder à la page d’aide concernant le paramétrage des cookies :
				</p>
				<ul>
					<li>
						<a href="https://www.imprimerie-europeenne.com/#Chrome">Chrome™</a>
					</li>
					<li>
						<a href="https://www.imprimerie-europeenne.com/#Firefox">Firefox™</a>
					</li>
					<li>
						<a href="https://www.imprimerie-europeenne.com/#Firefox">Internet Explorer™</a>
					</li>
					<li>
						<a href="https://www.imprimerie-europeenne.com/#Safari">Safari™</a>
					</li>
					<li>
						<a href="https://www.imprimerie-europeenne.com/#Opera">Opera™</a>
					</li>
				</ul>
				<p>
					Désactiver les cookies Google Analytics
					<br>
					Nom du cookie utilisé : _ga
					<br>
					Type de cookie : cookie d’audience
					<br>
					Vous pouvez empêcher l’utilisation et le dépôt de ce cookie sur votre poste en vous rendant sur
					<a href="https://tools.google.com/dlpage/gaoptout?hl=fr">https://tools.google.com/dlpage/gaoptout?hl=fr</a>.
					<br>
				</p>
				<h4>Supprimer vos cookies</h4>
				<p>
					Vous pouvez supprimer la totalité de vos cookies, ou uniquement ceux que vous souhaitez. Supprimer les cookies n’empêche ni la navigation, ni leur réinstallation en cours de navigation. Cela vous permet de maîtriser à un moment donné la bibliothèque de cookies de votre navigateur. Les cookies techniques, nécessaires à la navigation, seront réinstallés si vous vous rendez sur
					<a href="http://editions-lebakh.com/">editions-lebakh.com</a>.<br>
					Voici la marche à suivre selon le navigateur :
				</p>
				<h4>- Chrome</h4>
				<p>
					Dans le menu de Chrome, sélectionnez « Paramètres ». Affichez les paramètres avancés. Rendez­-vous dans le paragraphe « Confidentialité » et cliquez sur « Paramètres de contenu ».
					<br>
					Dans le paragraphe « Cookies » (premier paragraphe), cliquez sur « cookies et données de site ».
					<br>
					Recherchez les cookies que vous voulez supprimer et cliquez sur « OK ». Vous pouvez aussi choisir de supprimer tous vos cookies.
				</p>
				<h4>- Firefox</h4>
				<p>
					Dans le menu de Firefox, allez dans « Outils » puis dans « Options ». Sur l’onglet « Vie Privée », cliquez sur « Afficher les cookies »
					<br>
					Recherchez les cookies que vous voulez supprimer et cliquez sur « Supprimer les cookies ».
				</p>
				<h4>- Internet Explorer</h4>
				<p>
					Internet explorer ne permet pas la gestion des cookies au cas par cas. Pour supprimer tous vos cookies : cliquez sur « outils » puis sur « Options Internet ».
					<br><br>
					Dans l’onglet « Général », rubrique « Historique de navigation », cliquez sur « Supprimer ». Cochez la case « Cookies » puis cliquez sur « Supprimer ».
				</p>
				<h4>- Safari</h4>
				<p>
					Dans le menu de Safari, sélectionnez « Préférences ».
					<br>
					Dans la fenêtre qui s’est ouverte, allez sur l’onglet « Sécurité » et cliquez sur « Afficher les cookies ».
					<br>
					Recherchez et sélectionnez les cookies que vous voulez supprimer, puis cliquez sur « Supprimer »
				</p>
				<h4>- Opera</h4>
				<p>
					Dans le menu d’Opera, sélectionnez « Réglages ». Cliquez sur « Vie privée & Sécurité », puis scrollez pour afficher la rubrique « Cookies ». Cliquez sur « Tous les cookies et données de site » puis « Tout supprimer ». Terminez par « Ok ».
				</p>
				<h4>· Navigation privée</h4>
				<p>
					Le mode « Navigation privée », proposé aujourd’hui par tous les navigateurs, permet principalement de naviguer sans conserver d’historique des pages visitées ou des téléchargements. Concernant les cookies, tous ceux qui ont été enregistrés durant votre navigation seront effacés lorsque vous fermerez votre navigateur. Il ne s’agit donc pas d’une solution permettant de refuser les cookies ; Cependant, leur durée de vie reste alors limitée à la durée de votre navigation.
				</p>
				<h2>VI. Données personnelles et informations de navigation</h2>
				<p>
					Nous sommes susceptibles d’adapter les offres qui vous sont destinées à des informations relatives à la navigation de votre terminal sur notre plateforme.
					<br>
					Dans la mesure où vous nous avez fourni des données personnelles vous concernant, notamment vos coordonnées électroniques, lors de votre inscription ou de votre accès à l’un de nos services, nous sommes susceptibles, sous réserve de vos choix, d’associer des informations de navigation relatives à votre terminal, traitées par les cookies que nous émettons, avec vos données personnelles afin de vous adresser, par exemple, des prospections électroniques ou d’afficher sur votre terminal, des offres personnalisées qui vous sont plus spécifiquement destinées et susceptibles de vous intéresser.
					<br>
					Vous pourrez à tout moment nous demander de ne plus recevoir de publicités ou de prospections adaptées aux informations de navigation de votre terminal en nous contactant directement et gratuitement, ou au moyen du lien de désinscription inclus dans toute prospection que nous serions susceptible de vous adresser par courrier électronique. Le cas échéant, les publicités que vous pourriez continuer à recevoir, sauf opposition expresse de votre part auprès de nos services, ne seront plus adaptées à la navigation de votre terminal.
				</p>
				<h2>VII. Utilisation des modules d’extension sociaux</h2>
				<h3>VII .1 Facebook</h3>
				<p>
					Notre offre Internet utilise lesdits modules d’extension sociaux (« modules d’extension ») du réseau social Facebook, exploité par Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA (« Facebook »). Les modules d’extension sont marqués du logo Facebook ou avec l’ajout « module d’extension social de Facebook » ou « Facebook Social Plugin ». Un aperçu des modules d’extension Facebook et leur aspect se trouvent ici :
					<a href="https://developers.facebook.com/docs/plugins">https://developers.facebook.com/docs/plugins</a><br>
					Quand vous visitez une page de notre site Internet contenant un tel module d’extension, votre navigateur établit une connexion avec les serveurs de Facebook. Le contenu de ces modules d’extension est transféré directement par Facebook à votre navigateur et à partir de celui-ci intégré dans le site Internet.
					<br>
					Facebook est informé par le biais de l’intégration du module d’extension que votre navigateur a visité la page correspondante de notre site Internet, même si vous ne possédez pas de compte Facebook ou si vous n’êtes pas actuellement connecté sur Facebook. Cette information (dont votre adresse IP) est transférée directement de votre navigateur vers un serveur de Facebook aux États-Unis, où elle sera enregistrée.
					<br>
					Si vous vous êtes connecté à Facebook, Facebook peut attribuer directement la visite de notre site Internet à votre compte Facebook. Quand vous interagissez avec les modules d’extension, par exemple en actionnant le bouton « J’aime » ou en faisant un commentaire, l’information correspondante sera de même transférée directement vers un serveur de Facebook aux États-Unis où elle sera enregistrée. Les informations seront en outre publiées sur Facebook et affichées à vos amis sur Facebook.
					<br>
					Facebook peut utiliser ces informations à des fins publicitaires, de recherche de marché, ainsi que pour la présentation adaptée des pages Facebook. A cet effet, Facebook créera des profils d’utilisation, d’intérêt et de relation, par exemple pour analyser votre utilisation de notre site en relation avec les annonces publicitaires Facebook, pour informer d’autres utilisateurs de Facebook concernant vos activités sur notre site et pour fournir d’autres services liés à l’utilisation de Facebook.
					<br>
					Si vous ne souhaitez pas que Facebook attribue à votre compte Facebook les données collectées concernant votre présence sur Internet, vous devez vous déconnecter de Facebook avant votre visite de notre site Internet.
					<br>
					Veuillez vous reporter à l’avis de confidentialité de Facebook concernant l’objectif et l’étendue de la collecte des données et le traitement supplémentaire et l’utilisation des données via Facebook ainsi que les droits et possibilités de réglage à cet égard pour protéger votre vie privée :
					<a href="http://www.facebook.com/policy.php">http://www.facebook.com/policy.php</a>
				</p>
				<h3>VII .2 Google+</h3>
				<p>
					Notre offre Internet utilise le bouton « +1 » du réseau social Google Plus, qui est exploité par Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States (« Google »). Le bouton en question est reconnaissable par son sigle « +1 » blanc ou son arrière-plan coloré.
					<br>
					Pour les utilisateurs qui visitent les contenus de notre offre en ligne contenant une telle touche, le navigateur établit un lien direct avec le serveur Google. Google transfert le contenu du bouton « +1 » directement au navigateur de l’utilisateur lequel intègre à son tour le contenu dans le site Internet. Nous n’avons aucune influence sur les données que Google a collectées, et selon Google aucune donnée à caractère personnel n’est collectée, tant qu’aucun clique n’a lieu sur la touche. Seul l’adresse IP des utilisateurs Google connectés est collectée et traitée.
					<br>
					Les utilisateurs peuvent se reporter à l’avis de confidentialité de Google sur la touche « +1 » concernant l’étendue et l’objectif de la collecte de données de Google, sous quelle forme le traitement et l’utilisation des données a lieu ainsi que la façon dont s’organisent les droits et possibilités de réglage à cet égard pour protéger votre vie privée :
					<a href="https://developers.google.com/+/web/buttons-policy">https://developers.google.com/+/web/buttons-policy</a>. Si vous êtes membre de Google Plus ou si vous vous êtes connecté à Google et ne souhaitez pas que Google récolte des données sur vous lorsque vous visitez notre site Internet et les associe à vos données de membre enregistrées sur Google, vous devez vous déconnecter de Google Plus ou Google avant votre visite de notre site Internet.
				</p>
				<h3>VII .3 Twitter</h3>
				<p>
					Des fonctions du service Twitter sont intégrées sur le site de notre offre Internet. Cette fonction est offerte via Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA. Avec l’utilisation de Twitter et de la fonction « Re-Tweet », Twitter associe le compte Twitter de l’utilisateur avec les sites Internet fréquentés par ceux-ci. En particulier, les abonnés de l’utilisateur sont divulgués à Twitter. Dans ce cadre, les données seront aussi transférées aux serveurs de Twitter.
					<br>
					En tant qu’opérateur de notre offre Internet, nous vous notifions que nous n’avons pas connaissance du contenu des données transférées ainsi que de leur utilisation par Twitter. Des informations plus approfondies sont disponibles sous le lien suivant :
					<a href="https://twitter.com/fr/privacy">https://twitter.com/fr/privacy</a><br>
					Les paramètres de protection des données de Twitter peuvent être changés dans les paramètres de compte sous
					<a href="http://twitter.com/account/settings">http://twitter.com/account/settings</a>.
				</p>
				<h3>VII .4 Pinterest</h3>
				<p>
					Notre offre Internet utilise le service pinterest.com. Pinterest.com est un service de Pinterest, Inc., 808 Brannan St, San Francisco, CA 94103, USA. Avec le bouton « Pin it » intégré sur notre site, Pinterest obtient l’information selon laquelle vous avez visité la page correspondante de notre site Internet. Si vous êtes déjà connecté sur Pinterest, Pinterest peut attribuer cette visite à notre site à votre compte Pinterest et par conséquent relier les données. Les données transférées du fait d’avoir cliqué sur le bouton « Pin it » sont enregistrées par Pinterest. Vous pouvez obtenir plus d’informations concernant l’objectif et l’étendue de la collecte de données, le traitement et l’utilisation qui en est faite ainsi que les droits et possibilités de réglage à cet égard pour protéger votre vie privée dans l’avis de confidentialité de Pinterest, que vous obtenez sous
					<a href="http://pinterest.com/about/privacy/">http://pinterest.com/about/privacy/</a>.<br>
					Afin d’éviter que Pinterest puisse attribuer la visite de notre site à votre compte Pinterest, vous devez vous déconnecter de votre compte Pinterest avant la visite de notre site.
				</p>
				<h3>VII .5 Instagram</h3>
				<p>
					Notre offre Internet utilise le service Instagram. Instagram est un service de Instagram Inc. Avec le bouton « Insta » intégré à notre site, Instagram obtient l’information selon laquelle vous avez visité la page correspondante de notre site Internet. Si vous êtes connecté à Instagram, Instagram peut attribuer cette visite de notre site à votre compte Instagram et par conséquent relier les données. Les données transférées du fait d’avoir cliqué sur le bouton « Insta » seront enregistrées par Instagram. Vous pouvez obtenir plus d’informations concernant l’objectif et l’étendue de la collecte de données, le traitement et l’utilisation qui en est faite ainsi que les droits et possibilités de réglage à cet égard pour protéger votre vie privée dans l’avis de confidentialité de Instagram, que vous obtenez sous
					<a href="https://help.instagram.com/155833707900388">https://help.instagram.com/155833707900388</a>.
					<br>
					Afin d’éviter que Instagram puisse attribuer la visite de notre site à votre compte Instagram, vous devez vous déconnecter de votre compte Instagram avant la visite de notre site.
				</p>
				<h3>VII .6 LinkedIn</h3>
				<p>
					Notre offre Internet utilise les fonctions du réseau LinkedIn. L’opérateur est LinkedIn Corporation, 2029 Stierlin Court, Mountain View, CA 94043, USA. À chaque visite d’une de nos pages qui contiennent des fonctions de LinkedIn, une connexion aux serveurs de LinkedIn sera créée. LinkedIn sera informé que l’utilisateur a visité nos sites Internet avec son adresse IP. Lorsque l’utilisateur clique sur le « Bouton recommandation » de LinkedIn et est connecté à LinkedIn, il est possible pour LinkedIn d’attribuer la visite de notre site Internet par l’utilisateur à son compte utilisateur sur LinkedIn. Vous pouvez empêcher ceci en vous déconnectant de votre compte LinkedIn. Nous vous notifions qu’en tant qu’opérateur des sites, nous n’avons pas connaissance du contenu des données transférées ainsi que de leur utilisation par LinkedIn. Vous trouverez plus d’informations dans la déclaration de confidentialité de LinkedIn sous :
					<a href="https://www.linkedin.com/legal/privacy-policy">https://www.linkedin.com/legal/privacy-policy</a>
				</p>
				<h3>VII .7 YouTube</h3>
				<p>
					Notre offre Internet utilise les modules d’extension du site exploité par Google, YouTube. L’exploitant du site est YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA. Lorsque l’utilisateur visite un de nos sites équipés d’un module d’extension YouTube, une connexion aux serveurs de YouTube est établie. Ainsi, le serveur YouTube est informé concernant lequel de nos sites l’utilisateur a visité. Lorsque des utilisateurs se sont connectés à leur compte YouTube, ceci permet à YouTube d’attribuer le comportement de navigation au profil d’utilisateur de YouTube. Vous pouvez empêcher ceci en vous déconnectant de votre compte YouTube. De plus amples informations sont disponibles dans la déclaration de confidentialité de YouTube.
				</p>
				<h3>VII .8 Tumblr</h3>
				<p>
					Notre offre Internet utilise les touches du service Tumblr. L’opérateur est Tumblr, Inc., 35 East 21st St, 10th Floor, New York, NY 10010, USA. Ces touches permettent à l’utilisateur de partager une contribution ou un site sur Tumblr ou de suivre l’opérateur sur Tumblr. Lorsque l’utilisateur visite un de nos sites Internet avec le bouton Tumblr, le navigateur créé une connexion directe avec les serveurs de Tumblr. Nous n’avons aucune influence sur l’étendue des données que Tumblr collecte et transfert à l’aide de ces modules d’extension. En l’état actuel, l’adresse IP de l’utilisateur ainsi que l’URL de chaque site sont transférés. Vous trouverez de plus amples informations dans la déclaration de confidentialité de Tumblr sous :
					<a href="https://www.tumblr.com/policy/en/privacy">https://www.tumblr.com/policy/en/privacy</a>.
				</p>
				<h2>VIII. Utilisation des services analytiques</h2>
				<h3>VIII .1 Utilisation de Google Analytics</h3>
				<p>
					Ce site Internet utilise des fonctions du service d’analyse Internet Google Analytics. L’opérateur est Google Inc., 1600 Amphitheatre Parkway Mountain View, CA 94043, USA. Google Analytics utilise lesdits "cookies". Ceux-ci sont des données textuelles qui seront enregistrées dans votre ordinateur et qui permettent une analyse de votre utilisation du site Internet. Les informations produites par le cookie concernant votre utilisation de ce site Internet seront en règle générale transférées vers un serveur de Google aux États-Unis, où elles seront enregistrées. Vous trouverez plus d’informations concernant la manipulation des données d’utilisateur par Google Analytics dans la déclaration de confidentialité de Google :
					<a href="https://support.google.com/analytics/answer/6004245?hl=fr">https://support.google.com/analytics/answer/6004245?hl=fr</a>
				</p>
				<h4>
					Le module d’extension du navigateur</h4>
				<p>
					Vous pouvez empêcher le stockage des cookies par le biais du paramétrage approprié de votre logiciel de navigation ; nous vous signalons malgré tout que dans ce cas, vous ne pourrez éventuellement pas utiliser pleinement toutes les fonctionnalités de ce site Internet. Vous pouvez en outre empêcher la saisie des données produites par le cookie et relatives à l’utilisation du site Internet (dont votre adresse IP) sur Google ainsi que le traitement de ces données par Google, en téléchargeant et en installant le module complémentaire de navigateur disponible sous le lien suivant :
					<a href="https://tools.google.com/dlpage/gaoptout?hl=fr">https://tools.google.com/dlpage/gaoptout?hl=fr</a>. Cependant, l’extension de désactivation pour le navigateur de Google Analytics n’empêche pas que les informations nous soient transférées ou à d’autres services d’analyse Internet éventuellement utilisés par nos soins.
				</p>
				<h4>Opposition à la collecte de données</h4>
				<p>
					Vous pouvez empêcher la collecte de vos données via Google Analytics en cliquant sur le lien suivant. Un cookie de désactivation est activé, empêchant la collecte de vos données par des visiteurs futurs de ce site Internet : Désactiver Google Analytics.</p>
				<h4>Collecte anonymisée d’adresses IP</h4>
				<p>
					Nous utilisons la fonction « Activation de l’anonymisation de l’IP » sur ce site. Ainsi, votre adresse IP sera au préalable abrégée par Google au sein des États membres de l’union Européenne ou dans d’autres pays parties à l’Accord sur l’Espace économique européen. L’adresse IP complète ne sera transférée à un serveur Google aux États-Unis que dans des cas exceptionnels, et y sera abrégée. Google utilisera ces informations pour le compte de l’exploitant de ce site afin d’évaluer votre utilisation de ce site Internet, afin de compiler des rapports sur les activités du site Internet et afin de fournir d’autres prestations liées à l’usage des sites Internet et à l’usage d’Internet à l’égard de l’exploitant du site Internet. L’adresse IP transmise par votre navigateur dans le cadre de Google Analytics n’est pas combinée avec d’autres données de Google.</p>
				<h3>
					VIII .2 Utilisation de Visual Website Optimizer</h3>
				<p>
					Notre offre Internet utilise Visual Website Optimizer, un service d’analyse Internet de Wingify, 14th Floor, KLJ Tower North, Netaji Subhash Place, Pitam Pura, Delhi 110034, India. Visual Website Optimizer sert à tester la facilité d’utilisation de certains Sites. A cet effet, des valeurs de mesure anonymes de comportement utilisateur sont collectées. Nous n’avons aucune possibilité d’attribuer ces mesures anonymes à votre personne - par exemple concernant l’attribution de votre adresse IP ou par un autre moyen. Afin d’obtenir des résultats significatifs, lesdits cookies sont également utilisés, c’est-à-dire que le programme utilise la fonction de votre navigateur prévue à cet effet pour enregistrer les informations de manière temporaire et y recourir plus tard. Tant que les cookies n’expirent pas à la fin de la session, ils restent disponibles au maximum 100 jours (veuillez trouver de plus amples détails ici :
					<a href="https://vwo.com/knowledge/cookies-used-by-vwo/">https://vwo.com/knowledge/cookies-used-by-vwo/</a>. Vous pouvez effacer les cookies dans votre navigateur à tout moment. Le suivi (c’est-à-dire la saisie des données produites par le cookie et relatives à l’utilisation du site Internet) peut être désactivé à tout moment. Veuillez suivre les instructions à cet effet :
					<a href="https://vwo.com/opt-out/">https://vwo.com/opt-out/</a>. Plus d’informations sur la protection des données sont disponibles sous
					<a href="https://vwo.com/terms-conditions/">https://vwo.com/terms-conditions/</a>.
				</p>
				<h2>IX. Intégration de services et de contenus de tiers</h2>
				<p>Au sein de l’offre en ligne de ORIFLAM MEDIAS , il peut arriver que les contenus de tiers, par exemple sous forme de vidéos sur YouTube, de cartes sur Google Maps, de flux RSS ou de graphiques d’autres plateformes, soient intégrés. Il reste la possibilité que l’opérateur de ces contenus détecte l’adresse IP de l’utilisateur, puisque celle-ci ne peut pas envoyer les contenus sur les navigateurs des utilisateurs respectifs sans l’adresse IP. L’adresse IP est nécessaire dans un tel cas afin de présenter les contenus de tiers. ORIFLAM MEDIAS veille ainsi à n’utiliser que des contenus pour lesquels l’adresse IP n’a été utilisée que pour l’envoi. ORIFLAM MEDIAS n’a cependant aucune influence au cas où l’adresse IP pour les contenus de tiers de chaque opérateur serait enregistrée par exemple à des fins statistiques. Dans la mesure où ORIFLAM MEDIAS  dispose d’informations à ce sujet, les utilisateurs en seront informés.</p>
				<h2>X. Révocation du consentement</h2>
				<p>
					Dans la mesure où vous nous avez accordé votre autorisation (par exemple pour l’envoi de la lettre d’information), nous souhaiterions vous notifier que votre autorisation peut être révoquée à tout moment pour l’avenir. Que ce soit par téléphone, par écrit, ou par le biais d’un courriel informel, sans générer d’autres coûts que ceux relatifs à la transmission selon les tarifs de base. De cette façon, vous pouvez en outre à tout moment, en vertu des dispositions légales, vous informer sur les autorisations que vous nous avez accordées.
				</p>
				<h3>X .1 Autorisation de publicité courriel</h3>
				<p>
					Vous pouvez consentir par l’intermédiaire de l’inscription à la newsletter sur notre site ou lors de l’inscription, à être informé régulièrement par courriel concernant des offres intéressantes. Votre adresse courriel ainsi que d’autres données nécessaires à l’envoi seront transmises uniquement à l’entreprise de service mandatée par nos soins à cet effet, laquelle est tenue envers nous au respect de la politique de confidentialité.
					<br><br>
					Si vous avez souhaité recevoir des messages de prospection directe, par courrier électronique, de la part de  ORIFLAM MEDIAS vous pouvez retirer, à tout moment, votre consentement :
				</p>
				<ul>
					<li>En vous rendant dans votre Compte client, section « Mon Compte » puis «Informations du compte» et en décochant la case suivante : « Je souhaite recevoir les lettres d’information» si celle-ci est cochée.</li>
					<li>En cliquant sur le lien hypertexte de désinscription fourni dans chacune de nos communications ou ;
					</li>
					<li>En adressant votre demande par email à
						<a href="mailto:contact@editions-lebakh.fr">contact@editions-lebakh.fr</a>
						ou par voie postale à l’adresse indiquée à l’article XI.</li>
				</ul>
				<p>
					L’information et la communication de mise à jour substantielle des Conditions Générales d’Utilisation de nos Services et/ou de la Politique de Protection des Données ;
					<br><br>
					L’envoi de newsletters auxquelles vous avez souscrit ou autres courriers électroniques concernant des produits et/ou services analogues à ceux que nous vous avons fourni par l’intermédiaire de nos Services, Sites et/ou Applications. Dans cette hypothèse, vous pourrez manifester votre opposition à la réception de ces sollicitations :
				</p>
				<ul>
					<li>En vous rendant dans votre Compte client, section « Mon Compte » puis «Informations du compte» et en décochant la case suivante : « Je souhaite recevoir les lettres d’information» si celle-ci est cochée.</li>
					<li>En cliquant sur le lien hypertexte de désinscription fourni dans chacune de nos communications ou ;
					</li>
					<li>En adressant votre demande par email à
						<a href="mailto:contact@editions-lebakh.fr">contact@editions-lebakh.fr</a>
						ou par voie postale à l’adresse indiquée à l’article XI.</li>
				</ul>
				<h2>XI. Contact avec la personne chargée de la protection des données</h2>
				<p>
					Si vous avez des questions ou si vous voulez faire valoir votre droit d’opposition dans un des cas mentionnés, veuillez nous contacter au :
					<br>
					Si vous avez des questions ou suggestions concernant cette déclaration relative à la protection des données, veuillez contacter la personne chargée de la protection des données de  ORIFLAM MEDIAS à contact@editions-lebakh.fr . Vous pouvez contacter cette adresse courriel à tout moment si vous avez des doutes quant au respect de nos normes de conduite.
				</p>
				<p>
					Contact par courriel :
					<br>
					<a href="mailto:contact@editions-lebakh.fr">contact@editions-lebakh.fr</a>
					<br>
					À l’attention de la personne chargée de la protection des données
					<br>
					Madame Martin
				</p>
				<p>
					Contact postal :
					<br>
					EDITIONS Le BAKH
					<br>
					À l’attention de la personne chargée de la protection des données
					<br>
					20 Rue Flandres Dunkerque 45160 OLIVET
				</p>
				<p>Ligne téléphonique dédiée 0238237762</p>
				<p>Adresse électronique dédiée
					<a href="mailto:contact@editions-lebakh.fr">contact@editions-lebakh.fr</a>
				</p>
				<p>URL de formulaire de contact dédiée
					<a href="https://www.oriflam-medias.org">https://www.oriflam-medias.org</a>
				</p>
				<p>Autre moyen de contact dédié 0638325932</p>
				<h2>DÉLÉGUÉ À LA PROTECTION DES DONNÉES DÉSIGNÉ (DPO)  DÉSIGNATION CNIL N° en cours
				</h2>
				<p>Ces informations de contact permettent à toute personne de joindre le délégué facilement. La CNIL les tient à disposition du public dans des formats ouverts. Les exigences relatives à la désignation d’un délégué à la protection des données (statut, fonction, missions, qualités professionnelles) sont définies aux articles 37 à 39 du règlement européen relatif à la protection des données personnelles (RGPD). Le non-respect de ces dispositions est passible de sanctions.</p>
				<h2>XII. Vos droits</h2>
				<p>
					Vous disposez d’un droit de retirer votre consentement à tout moment, d’un droit à la portabilité de vos données, ainsi que de droits d’accès, rectification, effacement, limitation, opposition et du droit de définir des directives relatives au sort de vos données en cas de décès.
				</p>
				<h3>XII.1 Contact</h3>
				<p>
					Vous pouvez exercer vos droits :
				</p>
				<ul>
					<li>Depuis votre Compte Utilisateur, section « Mon Compte » puis « Informations du compte» ou</li>
					<li>En écrivant à l’adresse email :
						<a href="mailto:contact@editions-lebakh.fr">contact@editions-lebakh.fr</a>; ou</li>
					<li>En écrivant à l’adresse postale :  EDITIONS Le BAKH   À l’attention de la personne chargée de la protection des données 420 Rue Flandres Dunkerque 45160 OLIVET</li>
					<li>En contactant notre DPO</li>
				</ul>
				<h3>XII.2 Documents justificatifs</h3>
				<p>
					En application des dispositions du décret n°2007-451 du 25 mars 2007 portant modification du décret n°2005-1309 du 20 octobre 2005 pris pour l’application de la loi n°78-17 du 6 janvier 1078 relative à l’informatique, aux fichiers et aux libertés, votre demande d’exercice de l’un de vos droits devra être accompagnée de la photocopie d’un titre d’identité portant la signature du titulaire. Votre demande devra également préciser l’adresse à laquelle la réponse devra parvenir.
					<br><br>
					Afin de pouvoir identifier votre Compte Utilisateur, nous vous invitons à nous indiquer l’adresse email grâce à laquelle vous avez créé votre Compte Utilisateur.
					<br><br>
					Nous disposerons alors d’un délai d’un (1) mois suivant réception de la demande pour vous répondre.  Ce délai peut être prolongé de deux (2) mois compte tenu de la complexité et du nombre de demandes.
					<br><br>
					Ces droits ne sont pas absolus : vous pouvez les exercer dans le cadre légal prévu et dans les limites de ces droits. Dans certains cas nous ne pourrons pas répondre favorablement à votre demande (obligation légale, respect de nos engagements envers vous, ...). Si c’est le cas, nous vous communiquerons la ou les raisons de ce refus.
				</p>
				<h3>XII.3 Droits d’accès, de rectification ou d’effacement</h3>
				<p>En tant que créateur d’un Compte Utilisateur, vous pouvez accéder aux Données Personnelles que nous avons collectées directement auprès de vous afin de les rectifier, compléter ou effacer toute information inexacte en :</p>
				<ul>
					<li>Vous rendant dans votre Compte client, section « Mon Compte » / « Information du compte ».</li>
					<li>Nous contactant directement au(x) adresse(s) email et/ou postale indiquées dans l’article XI.</li>
					<li>Vous pouvez décider de clôturer votre Compte Utilisateur, à tout moment, en vous connectant à celui-ci, section « Mon Compte » / « Information du compte » en cliquant sur le bouton « Supprimer mon compte ».</li>
					<li>Vous disposez d’un droit à l’effacement de vos Données Personnelles, lorsque :</li>
					<li>Celles-ci ne sont plus nécessaires au regard des finalités pour lesquelles elles ont été collectées ou traitées ; ou</li>
					<li>Vous avez retiré votre consentement pour ce traitement de Données Personnelles et il n’existe pas d’autre fondement juridique au traitement ; ou</li>
					<li>Vous vous êtes opposé à ce traitement et il n’existe aucun motif légitime impérieux justifiant ce traitement ;  ou</li>
					<li>Les Données Personnelles doivent être effacées pour respecter une obligation légale, prévue par la législation de l’Union ou des Etats membres, à laquelle ORIFLAM MEDIAS  est soumis ; ou</li>
				</ul>
				<p>Les Données Personnelles ont été collectées dans le cadre de la fourniture des Services, que vous avez souscrits.
				</p>
				<h3>XII.4 Droit à la limitation du traitement
				</h3>
				<p>Vous disposez d’un droit d’obtenir la limitation du traitement lorsque l’une des conditions suivantes s’applique :</p>
				<ul>
					<li>Vous contestez l’exactitude des Données Personnelles ; ou</li>
					<li>Le traitement est illicite et vous vous opposez à l’effacement de vos Données Personnelles et demandez plutôt la limitation de leur utilisation ; ou</li>
					<li>ORIFLAM MEDIAS  n’a plus besoin des Données Personnelles aux fins du traitement, mais elles sont requises par vous pour l’établissement, l’exercice ou la défense de vos droits ; ou</li>
					<li>Vous vous êtes opposés au traitement et une vérification doit être effectuée afin de savoir si les motifs légitimes de ORIFLAM MEDIAS  l’emportent sur les vôtres.</li>
				</ul>
				<h3>XII.5 Droit de retirer votre consentement à tout moment
				</h3>
				<p>Vous pouvez retirer votre consentement, à tout moment, selon les modalités décrites à l’article X, au traitement de vos Données Personnelles, à des fins de prospection directe pour des produits et/ou services non analogues à ceux que nous vous avons fournis par l’intermédiaire de nos Services, Sites et/ou Applications.</p>
				<h3>XII.6 Droit d’opposition au traitement de vos Données Personnelles</h3>
				<p>Vous pouvez exercer votre droit d’opposition, à tout moment, au profilage de vos Données Personnelles, à des fins de publicité ciblée, en :</p>
				<ul>
					<li>En vous rendant dans votre Compte client, section « Mon Compte » puis «Informations du compte» et en décochant la case suivante : « Je souhaite recevoir les lettres d’information» si celle-ci est cochée.</li>
					<li>En cliquant sur le lien hypertexte de désinscription fourni dans chacune de nos communications ou ;
					</li>
					<li>En adressant votre demande par email à
						<a href="mailto:privacy@imprimerie-europeenne.fr">privacy@imprimerie-europeenne.fr</a>
						ou par voie postale à l’adresse indiquée à l’article XI.</li>
				</ul>
				<p>
					Dans l’hypothèse où vous vous opposeriez au profilage de vos Données Personnelles, nous vous informons que vous continuerez à être destinataire de publicité mais que celle-ci ne sera pas adaptée à votre profil et vos centres d’intérêts.
				</p>
				<h3>XII.7 Droit à la portabilité de vos Données Personnelles</h3>
				<p>
					Vous disposez du droit à la portabilité de vos Données Personnelles, c’est-à-dire de recevoir les Données Personnelles que vous nous avez fournies, dans un format structuré, couramment utilisé et lisible par machine et de les transmettre à un autre responsable de traitement.
				</p>
				<h3>XII.8 Droit d’introduire une réclamation auprès de l’autorité de contrôle compétente</h3>
				<p>En cas de difficultés, vous disposez du droit d’introduire une réclamation auprès de la CNIL :
					<a href="https://www.cnil.fr/fr/plaintes">https://www.cnil.fr/fr/plaintes</a>
				</p>
				<h3>XII.7 Directives relatives au sort de vos Données Personnelles après votre décès
				</h3>
				<p>Vous disposez du droit de définir des directives relatives au sort de vos Données Personnelles après votre décès.
					<br><br>
					Pour exercer ce droit, nous vous invitons à nous adresser un email à notre DPO:
				</p>
				<ul>
					<li>ayant pour objet « Directives relatives au sort de mes Données Personnelles après mon décès » ;</li>
					<li>nous indiquer l’adresse email grâce à laquelle vous avez créé votre Compte Utilisateur ;</li>
					<li>nous indiquer la(es) personne(s) pouvant agir auprès de nous dans l’hypothèse de votre décès, ainsi les instructions que vous souhaitez que nous respections.</li>
				</ul>
				<p>
					Dans l’hypothèse où un Utilisateur décède sans avoir laissé de directives relatives au sort de ses Données Personnelles après son décès, les héritiers de celui-ci peuvent demander à clôturer le Compte Utilisateur du défunt, en nous contactant par email à
					<a href="mailto:contact@editions-lebakh.fr">contact@editions-lebakh.fr</a>
					à l’intention de notre DPO.
				</p>
				<hr>
				<p>
					<strong>SASU EDITIONS Le BAKH</strong>
					<br><br>
					<strong>Marque commerciale : ORIFLAM MEDIAS</strong>
					<br><br>
					<strong>Représentants : Asmaë MARTIN</strong>
					<br><br>
					RCS ORLEANS
					<br><br>
					Siren : 80919250300021
					<br><br>
					TVA intracommunautaire : FR37809192503
					<br><br>
					Ste internet : https://www.oriflam-medias.com/
					<br><br>
					Service client : 0238237762 du lundi au vendredi de 9h à 18h
				</p>
			</div>
		</div>
	</div>
{% endblock %}
