{% extends "front/base_front.html.twig" %}

{% block body %}
	<div class="container-fluid company">
		<div class="row justify-content-center company-top">
			<div class="col-6">
				<img src="{{ asset('build/logo_oriflam.png') }}" alt="" class="img-fluid">
			</div>
		</div>
		<div class="row justify-content-center company-middle">
			<div class="col-8">
				<h1>AGENCE DE COMMUNICATION</h1>
				<ul class="list-unstyled">
					<li>Création graphique</li>
					<li>Charte graphique</li>
					<li>Logo</li>
					<li>Illusration</li>
					<li>Mise en page</li>
					<li>Colorimétrie</li>
					<li>Communication produit</li>
					<li>Identité visuelle</li>
					<li>Supports d’édition</li>
				</ul>
				<p>
                    Rapports annuels, affiches, flyers, papeterie,
                    journaux d’entreprise, journaux internes,
                    catalogues, magazines, rapports d’activité,
                    mailing, annonces presse,
                    mise en page de présentations PPT,
                    kakémonos, signalétique, enseigne,
                    habillage véhicules...
				</p>
                <img src="{{ asset('build/equipe-oriflam.png') }}" alt="" class="img-fluid">
				<h2>Définition des besoins</h2>
				<p>
                    La définition des besoins consiste à recueillir la demande de nos clients et à analyser leur besoin.
					<br>
					<br>
					Nous vous proposons une réflexion pertinante conduisant à définir les lignes directrices de votre communication et nous
                    élaborons des solutions sur-mesure adaptées.
					<br>
					<br>
					Nos objectifs sont de donner envie d’être lue, d’être regardé, tout en valorisant votre activité avec des concepts créatifs. Ces
                    outils de communication sont ensuite validés par nos clients, ce qui déclenche l’élaboration d’un dossier de création et de
                    fabrication s’insérant dans un planning.
				</p>
				<h2>Univers graphique</h2>
				<p>
					La stratégie de marque de nos clients passe enfin par l’élaboration de leur univers graphique.
					<br>
					Nous cherchons à traduire l’esprit que vous souhaitez véhiculer à travers votre document : pragmatisme, raffinement,
                    dynamisme, citoyenneté, prestige, etc.
					<br>
					<br>
					Nous optimisons la mise en page et nous (re)structurons votre document afin de rendre vos supports plus puissants, plus
                    impactants.
					<br>
					Nous vous aidons à trouver des illustrations valorisant votre message.
					<br>
					Nous apportons des éléments pictographiques pour rendre
                    votre message encore plus évident, mais aussi plus léger,
                    plus intuitif.
					<br>
					<br>
					Notre équipe propose au client d’appliquer rigoureusement leur charte graphique ou de la créer :
				</p>
				<ul class="list-unstyled">
					<li>création de supports de communication</li>
					<li>logotype</li>
					<li>illustration</li>
					<li>recherches typographiques</li>
					<li>colorimétrie</li>
					<li>etc.</li>
				</ul>
				<h2>Studio graphique</h2>
				<p>
					Oriflam Médias conseille, façonne, développe et accompagne.
					<br>
					L’agence est avant tout une équipe à taille humaine, proche, disponible et réactive. Elle met à votre disposition graphistes,
                    journalistes, photographes, pigistes – spécialisés et qualifiés, en mesure de s’adapter à votre support.
					<br>
					Les graphistes sont vos interlocuteurs privilégiés pour vous conseiller et définir votre identité visuelle.
				</p>
			</div>
		</div>
		<div class="row justify-content-center company-bottom">
            <div class="col-4 text-center">
                <h2>Contact :</h2>
                <p>
                    20 rue Flandres-Dunkerque
                    <br>
                    45160 OLIVET
                    <br>
                    Tél. 02 38 23 77 62
                </p>
                <p>oriflam-medias@editions-lebakh.fr</p>
            </div>
        </div>
	</div>
{% endblock %}
