{% extends "front/base_front.html.twig" %}

{% block title %}
	Mentions Légales | Oriflam Médias
{% endblock %}

{% block body %}
	<div class="container legals">
		<div class="row">
			<div class="col-12">
				<h1>Mentions légales</h1>
				<p>ORIFLAM MEDIAS, Achat de produits imprimables, est une marque de la SASU ÉDITIONS Le BAKH.</p>
				<h2>Identité</h2>
				<p>Le site
					<a href="www.oriflam-medias.org">www.oriflam-medias.org</a>
					(ci-après dénommé le « site ») est exploité par lEDITIONS Le BAKH, société par actions simplifiée de droit français au capital social de 1500 €.</p>
				<p>
					<strong>PRESIDENTE</strong>
					: Asmaë MARTIN Le BAKH
					<br><br>
					<strong>Siren</strong>
					: 80919250300021 RCS ORLEANS
					<br><br>
					<strong>TVA intracommunautaire</strong>
					: FR37809192503
				</p>
				<h2>Siège social</h2>
				<p>
					EDITIONS Le BAKH
					<br><br>
					20 Rue Flandres Dunkerque
					<br><br>
					45160 OLIVET
					<br><br>
					France
				</p>
				<h2>Contact</h2>
				<p>Notre service de relation clients est joignable à la rubrique Service client de votre compte utilisateur ou par téléphone du lundi au vendredi de 9 h à 18 h au numéro 0238237762</p>
				<h2>Édition</h2>
				<p>Directeur de publication :Asmaë MARTIN Le BAKH</p>
				<h2>Hébergement</h2>
				<p>L’hébergement du site est assuré par
					<a href="http://sos-data.fr/">o2switch   222 Boulevard Gustave Flaubert, 63000 Clermont-Ferrand</a>
				</p>
				<h2>Propriété intellectuelle</h2>
				<p>Le site est une œuvre de l’esprit protégée par la loi. Son contenu, y compris les textes, illustrations, photographies et présentations sont strictement réservés au titre du droit d’auteur ainsi qu’au titre de la propriété intellectuelle. Il en va de même de la base de données contenue sur le site. ORIFLAM MEDIAS France vous accorde une licence limitée, non exclusive, révocable, sans droit de sous-licencier sur le contenu du Site, et ce, pour les simples accès, navigation et utilisation liés au site. Cette licence ne vous accorde aucun autre droit, en particulier d’exploitation commerciale de ces contenus.</p>
				<h2>Données personnelles</h2>
				<p>Pour des informations relatives à la collecte, au traitement et à l’utilisation de vos données personnelles, nous vous invitons à vous référer à notre déclaration relative à la
					<a href="https://www.imprimerie-europeenne.com/politique-de-confidentialite-et-protection-des-donnees-personnelles">Politique de confidentialité et de protection des données à caractère personnel</a>.</p>
				<h3>Confidentialité et protection des données</h3>
				<p>
					Conformément à la loi informatique et libertés du 06 janvier 1978, vous pouvez à tout moment modifier ou supprimer les renseignements liés à votre inscription. Ces informations vous concernant étant confidentielles, ORIFLAM MEDIAS s’engage à les protéger.
					<br>
					Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi "Informatique et Libertés"). Vous pouvez exercer ce droit directement sur les sites concernés ou en nous contactant :
				</p>
				<p>
					<strong>ORIFLAM MEDIAS</strong>
					<br><br>
					Siège social
					<br>
					20 Rue Flandres Dunkerque 45160 OLIVET
					<br>
					Tél. : 0238237762
					<br>
					E-mail :
					<a href="mailto:contact@editions-lebakh.fr">contact@editions-lebakh.fr</a>
					<br>
					<br><br>
					Les sites de la société EDITIONS Le BAKH sont enregistrés auprès de la Commission Nationale de l’Informatique et des Libertés.
					<br>
					Pour plus d’informations, vous pouvez consulter le site de la CNIL :
					<a href="https://www.cnil.fr">https://www.cnil.fr.</a>
				</p>
                <h2>Limite de responsabilité</h2>
                <p>Nous nous efforçons d’assurer, au mieux de nos possibilités, l’exactitude et l’actualité des informations diffusées sur le site. Nous nous réservons le droit de corriger et de modifier le contenu du site à tout moment et sans préavis. Il appartient aux visiteurs de vérifier l’information donnée sur le site par d’autres moyens, y compris en nous contactant directement. Nous déclinons toute responsabilité (i) pour toute imprécision, inexactitude ou omission relative aux informations disponibles sur le site, (ii) pour les dommages résultant d’une modification des informations figurant sur le site causée par une éventuelle manipulation frauduleuse effectuée par des tiers et (iii) pour tous dommages, directs ou indirects, quelles qu’en soient les causes, origines, nature ou conséquences, provoqués à raison de l’accès de quiconque au site ou de l’impossibilité d’y accéder, de même que l’utilisation du site et/ou du crédit accordé à une quelconque information provenant directement ou indirectement de ce dernier.</p>
			</div>
		</div>
	</div>
{% endblock %}
