@mixin initiate-font($name, $filename, $extension, $weight, $style) {
    @font-face {
        font-family: $name;
        src: url("../fonts/#{$filename}.#{$extension}") format($extension);
        font-weight: $weight;
        font-style: $style;
    }
}

@mixin font($font, $size, $color: #000000) {
    // -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif
    @if ($font == $gnyrwn) {
        font-family: "Gunny Rewritten";
        font-weight: normal;
        font-style: normal;
    } @else if ($font == $din-light) {
        font-family: "D-DIN Condensed";
        font-weight: normal;
        font-style: normal;
    } @else if ($font == $din-medium) {
        font-family: "D-DIN";
        font-weight: normal;
        font-style: normal;
    } @else if ($font == $din-bold) {
        font-family: "D-DIN";
        font-weight: bold;
        font-style: normal;
    } @else if ($font == $euro) {
        font-family: "Euro Mono";
        font-weight: normal;
        font-style: normal;
    } @else if ($font == $minion-bold) {
        font-family: "Minion Pro";
        font-weight: bold;
        font-style: normal;
    } @else if ($font == $minion-regular) {
        font-family: "Minion Pro";
        font-weight: normal;
        font-style: normal;
    }

    font-size: $size;
    color: $color;
}
