$primary: #fb3199;
$background: #ffffff;

$gunny: 'gunny';
$din-light: 'din-light';
$din-medium: 'din-medium';
$din-bold: 'din-bold';
$euro: 'euro';
$minion-bold: 'minion-bold';
$minion-regular: 'minion-regular';

$custom-file-text: (
    en: 'Browse',
    fr: 'Parcourir'
);