.agendas {
  &-top {
    left: 0;
    right: 0;
  }
  &-middle {
    &-left {
      border-right: $primary 1px solid;
      &-middle {
        &-title {
          @include font($din-medium, 1.25rem);
          margin-bottom: .5rem;
        }
      }
    }
  }
}
