.agendas {
  &-top {
    left: 0;
    right: 0;
  }
  &-middle {
    &-left {
      border-right: $primary 1px solid;
      &-middle {
        &-title {
          @include font($din-medium, 1.25rem);
          margin-bottom: .5rem;
        }
      }
    }
    &-right {
      p {
        @include font($minion-regular, 1rem);
        &.agendas-middle-right-agendas-title, 
        &.agendas-middle-right-notebooks-title {
          font-size: 1.5rem;
        }
      }
    }
  }
}
