.booklets {
  &-top {
    left: 0;
    right: 0;
  }
  &-middle {
    &-left {
      border-right: $primary 1px solid;
      &-top {
        @include font($din-medium, 1rem);
        .front {
          max-height:280px;
        }
      }
    }
    &-right {
      p {
        @include font($minion-regular, 1rem); 
        &.booklets-middle-right-booklets-title {
          font-size: 1.5rem;
        }
      }
    }
  }
}
