.calendar {
    &-top {
        left: 0;
        right: 1rem;
    }
    &-title {
        margin-top: 3rem;
    }
    &-middletop {
        padding-bottom: 2rem;
        border-bottom: $primary solid 2px;
    }
    &-middlebottom {
        &-left {
            padding-top: 10rem;
        }
    }
}