.company {
  &-top {
    margin-top: 3rem;
    margin-bottom: 3rem;
    .company-title {
      position: relative;
      font-size: 3rem;
      .eye {
        height: 3rem;
        position: absolute;
        left: -4rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &-rounded-img {
    // width: 40rem;
    height: 40rem;
    // border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 100%;
    }
  }
  &-list {
    li {
      position: relative;
      margin-bottom: 0.2rem;
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
  &-agency {
    position: relative;
    background: rgba($primary, 0.75);
    padding: 1rem 0;
    &-eye {
      color: $primary;
      position: absolute;
      top: 0;
      right: 0;
      height: 2rem;
      transform: translate(50%, -50%);
    }
    &-border {
      display: block;
      height: 97.5%;
      width: 2px;
      background-color: $primary;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(0%, 0);
    }
    &-title {
      letter-spacing: 2px;
      position: absolute;
      transform: rotate(-90deg);
      left: -40%;
      top: 40%;
      white-space: nowrap;
    }
  }
  &-needs {
    position: relative;
    padding-bottom: 2rem;
    &::after {
      display: block;
      content: "";
      width: 50%;
      height: 2px;
      position: absolute;
      left: 1.9rem;
      bottom: 0.9rem;
      background-color: $primary;
    }
    &-eye {
      position: absolute;
      height: 2rem;
      bottom: 0;
      left: 0;
      z-index: 10;
    }
  }
}
