.flyers {
  &-top {
    left: 0;
    right: 0;
  }
  &-middle {
    &-left {
      border-right: $primary 1px solid;
      &-top {
        @include font($din-medium, 1rem);
      }
    }
    &-right {
      p {
        @include font($minion-regular, 1rem); 
        &.flyers-middle-right-flyers-title {
          font-size: 1.5rem;
        }
      }
    }
  }
}
