.home {
  max-width: 80rem;
  &-subtitle {
    @include font($gunny, 3rem)
  }
  &-thumbnail {
    position: relative;
    text-align: center;
    transition: all 0.2s;
    @include max-mq(991px) {
      margin-bottom: 1.5rem;
    }
    &:hover {
      transform: scale(1.1);
    }
    &-text {
      @include font($din-bold, 1rem);
      position: absolute;
      bottom: .7rem;
      left: 0;
      right: 0;
      display: block;
      margin-bottom: 0;
    }
  }
  .btn {
    @include font($din-bold, 1rem, #ffffff);
  }
  .underthumb {
    @include font($din-bold, 1.5rem, $primary);
  }

  .contact-us {
    margin-bottom: 5rem;
  }
}