.navbar {
  padding-left: 10rem;
  .mr-auto {
    .nav-item {
      margin-right: 2rem;
      .nav-link {
        @include font($din-bold, 1.2rem, #ffffff);
      }
    }
  }
  .ml-auto {
    .nav-item {
      position: relative;
      text-align: center;
      padding-right: 3.5rem;
      .nav-link {
        @include font($din-medium, 1rem, #ffffff);
      }
      &::after {
        content: "";
        position: absolute;
        right: 7%;
        top: 50%;
        transform: translate(0, -50%);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: rgba($color: #ffffff, $alpha: 0.5);
      }
    }
  }

  .far.fa-user,
  .fas.fa-shopping-cart {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 2rem;
  }

  .nav-item {
    display: flex;
    align-items: center;
  }

  .dropdown-menu {
    background-color: $primary;
    border: none;
    border-radius: 0;
    .dropdown-item {
      @include font($din-medium, 1rem, #ffffff);
      transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        background-color: darken($primary, 25%);
      }
    }
  }
}
