.profile {
  &-links {
    border-right: $primary solid 2px;
    &-item {
      padding: 0.5rem;
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:hover {
        background-color: #ffffff;
        a {
          text-decoration: none;
        }
      }
    }
  }
  h2 {
    @include font($minion-regular, 1.5rem);
  }
}
.history {
  &-order {
    &-list {
      &-item {
        padding: 0.5rem;
        background-color: #ffffff;
        border-bottom: solid $primary 2px;
      }
    }
  }
}

