.signup {
  h2 {
    @include font($minion-regular, 1.5rem);
  }
  &-top {
    left: 0;
    right: 0;
  }
  label, select, input, p {
    margin-right: 2rem;
    @include font($minion-regular, 1rem)
  }
  small {
    @include font($minion-regular, .8rem);
  }
  .password-status {
    @include font($minion-regular, 1rem);
    &.password {
      &--success {
        color: darkgreen;
      }
      &--error {
        color: darkred;
      }
    }
  }
}
