<div class="contactus row mt-3">
    <div class="col-4">
        <p class="contactus-text text-center">
            Vous désirez personnaliser votre format ou choisir votre nombre d'exemplaires ?
        </p>
    </div>
    <div class="col-4">
        <p class="contactus-ways text-center">
            <span class="contactus-ways-phone">02 38 23 77 62</span><br>
            ou<br>
            <a href="" class="btn btn-primary rounded-0">CONTACTEZ-NOUS</a>
        </p>
    </div>
    <div class="col-4">
        <img src="" alt="">
        <p class="contactus-delivery text-center">
            LIVRAISON GRATUITE<br>
            DEVIS RAPIDE
        </p>
    </div>
</div>