{% extends "front/base_front.html.twig" %}

{% block title %}
	Communication | Oriflam Médias
{% endblock %}

{% block body %}
	<div class="container-fluid communication">
		<div class="row communication-top position-absolute justify-content-end">
			<div class="col-12 col-sm-6 col-md-4 col-lg-2">
				<img src="{{ asset('build/logo_oriflam.png') }}" alt="logo" class="img-fluid">
			</div>
		</div>
		<div class="row communication-middle justify-content-center">
			<div class="col-12 col-md-8 pt-5">
				<h1 class="communication-middle-title">Communication</h1>
				<div class="row communication-middle-row mt-5">
					<div class="col-12 col-sm-8 col-md-6 col-lg-3 offset-lg-1">
						<p>
							<span class="communication-middle-row-title">STRATÉGIE DE MARQUE</span><br>
							Conseil en communication
							afin de trouver l’ADN de la
							marque grâce à la stratégie.
						</p>
					</div>
					<div class="col-12 col-sm-8 col-md-6 col-lg-3 offset-lg-1">
						<p>
							<span class="communication-middle-row-title">IDENTITÉ VISUELLE</span><br>
							Création de logo, Charte
							graphique, Présentation,
							devanture...création de
							publicité web et print
						</p>
					</div>
					<div class="col-12 col-sm-8 col-md-6 col-lg-3 offset-lg-1">
						<p>
							<span class="communication-middle-row-title">PACKAGING</span><br>
							Création d’emballage
							écologique, conditionnement
							d’expédition, étiquettes...
						</p>
					</div>
				</div>
				<div class="row communication-middle-row mt-5">
					<div class="col-12 col-sm-8 col-md-6 col-lg-3 offset-lg-1">
						<p>
							<span class="communication-middle-row-title">ÉDITION</span><br>
							Mise en page pour des
							Magazines ou livres,
							Brochures, Dépliants,
							Plaquettes, Menus,
							Calendriers, Catalogues
						</p>
					</div>
					<div class="col-12 col-sm-8 col-md-6 col-lg-3 offset-lg-1">
						<p>
							<span class="communication-middle-row-title">ILLUSTRATION</span><br>
							Création de Pictogramme,
							d’Icônes, Dessin à la main
							et/ou digital, Typographie...
						</p>
					</div>
					<div class="col-12 col-sm-8 col-md-6 col-lg-3 offset-lg-1">
						<p>
							<span class="communication-middle-row-title">SALONS ÉVÈNEMENTS</span><br>
							Goodies, Rollups, Kakémono,
							Stands, Drapeaux,...
						</p>
					</div>
				</div>
				<div class="row communication-middle-row mt-5">
					<div class="col-12 col-sm-8 col-md-6 col-lg-3 offset-lg-1">
						<p>
							<span class="communication-middle-row-title">PUBLICITÉ</span><br>
							Recherche de concept,
							Affiches publicitaire de toutes
							tailles, Flyer, PLV, Dépliant...
						</p>
					</div>
					<div class="col-12 col-sm-8 col-md-6 col-lg-3 offset-lg-1">
						<p>
							<span class="communication-middle-row-title">RÉSEAUX SOCIAUX</span><br>
							Publicité pour les réseaux
							sociaux (Facebook, Linkedin,
							Instagram...)
						</p>
					</div>
					<div class="col-12 col-sm-8 col-md-6 col-lg-3 offset-lg-1 mb-5">
						<p>
							<span class="communication-middle-row-title">CARTES D’INVITATIONS</span><br>
							Pour partager des messages
							personnalisés.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
