<footer>
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-4 text-left">
                <p>Site réalisé par <a href="https://xtrem-dev.fr/">Pierre Levacher</a></p>
            </div>
            <div class="col-4 text-center">
                <a href="{{ path('legals') }}">Mentions Légales</a></br>
                <a href="{{ path('cgv') }}">Conditions Générales de Vente</a><br>
            </div>
            <div class="col-4 text-right">
                <p>© Éditions Le Bakh - 2020</p>
            </div>
        </div>
    </div>
</footer>