{% extends "front/base_front.html.twig" %}

{% block title %}
    Panier | Oriflam Medias
{% endblock %}

{% block body %}
    <div class="container-fluid cart">
		<div class="row signup-top position-absolute justify-content-end">
			<div class="col-2">
				<img src="{{ asset('build/logo_oriflam.png') }}" alt="logo" class="img-fluid">
			</div>
		</div>
    </div>
{% endblock %}