{% extends "front/user/base_profile.html.twig" %}

{% block title %}
	Historique de commandes | Oriflam Médias
{% endblock %}

{% block content %}
<h1>Historique de commandes</h1>
	<ul class="list-group history-order-list mt-5">
		{% for order in orders %}
			<li class="list-group-item history-order-list-item">
				<div class="row">
					<div class="col-4 d-flex align-items-center">
						<p class="history-order-list-item-number">
							Commande n°{{ order.transactionId }}
						</p>
					</div>
					<div class="col-4 d-flex align-items-center">
						<p class="history-order-list-item-number">
							{{ order.updatedAt|date('d-m-Y') }}
						</p>
					</div>
					<div class="col-4 d-flex align-items-center">
						<a href="{{ path('show_order', { transactionId : order.transactionId }) }}">Voir le contenu de la commande</a>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}
