{% extends "front/base_front.html.twig" %}

{% block body %}
    <div class="container-fluid profile">
        <div class="row">
            <div class="col-3 offest-2">
                <ul class="profile-links">
                    <li class="profile-links-item">
                        <a href="">Modifier les informations</a>
                    </li>
                    <li class="profile-links-item">
                        <a href="{{ path('history') }}">Historique de commandes</a>
                    </li>
                </ul>
            </div>
            <div class="col-7">
                .
            </div>
        </div>
    </div>
{% endblock %}