{% extends "front/user/base_profile.html.twig" %}

{% block title %}
	Compte client | Oriflam Médias
{% endblock %}

{% set user = app.user %}
{% block content %}
    <h1>
        Compte client
    </h1>
    <p class="user-name">
        {{ user.lastname }} {{ user.firstname }}
    </p>
    <p class="user-phone">
        {{ user.mobileNumber }}
    </p>
{% endblock %}
